@charset "utf-8";
*{padding: 0;margin: 0;}
body{font-size:0.289855rem;box-sizing: border-box;width: 10.0rem;background:#f5f5f5;overflow:hidden;}
/*顶部返回部分*/
#navs{height:0.966184rem ;width: 10.0rem;background: #000000;display: flex; color: #FFFFFF;align-items: center;justify-content: space-around;}
#navs #navs_left{width:1.207729rem ;height:0.966184rem;}
#navs img{width:0.772947rem ;height:0.966184rem;}
#navs .title{width: 7.584541rem;height:0.966184rem;line-height: 0.966184rem;font-size: 0.362319rem;text-align: center;}
#navs>.navs_right{width:1.207729rem ;height:0.966184rem;line-height: 0.966184rem;}
#navs>.navs_right a{ color:#FFFFFF;font-size: 0.362319rem;}
/*中部商品导航部分*/
#pro_list{width: 10.0rem;}
#pro_list #u_tab{width: 10.0rem;height:1.062802rem;display: flex;/*justify-content: space-between*/}
#pro_list #u_tab li{width:2.56715rem ;height: 1.062802rem;font-size:0.410628rem;text-align: center;background: #f9f9f9;line-height:1.062802rem ;border-bottom:1px solid  #cccccc; border-right: 1px solid  #cccccc;}
#pro_list #u_tab li:last-of-type{border-right:0 ;}
#pro_list #u_tab li a{color:#527abd;}

/*商品详情页*/
#pro_list #u_tab li a span{color: orange;}
#pro_list .products{width: 10.0rem;}
#pro_list .products .main_pro{background:#FFFFFF;margin-top: 0.2657rem;border-bottom: 1px solid #8B8B8B;}
#pro_list .products .main_pro img{width: 1.690821rem;height:1.690821rem;}
#pro_list .products .main_pro h5 span{display: inline-block;width: 9.299517rem;height:0.555556rem;border-bottom:1px solid #D9D9D9;margin-left:0.676329rem;line-height:0.555556rem;font-size:0.31401rem ;}
#pro_list .products .main_pro .info{width: 10.0rem;}
#pro_list .products .main_pro a{display:flex;}
#pro_list .products .main_pro .info div{height:1.877295rem;margin-left: 0.772947rem;}
#pro_list .products .main_pro .info p{width: 4.589372rem;height: 0.455556rem;line-height: 0.455556rem;font-size:0.338164rem;margin-top: 1px;}
#pro_list .products .main_pro .info p:first-of-type{margin-top:0.241546rem;}
#pro_list .products .main_pro .info a{margin-left: 0.724638rem;}
#pro_list .products .main_pro .info div{width: 6.201449rem;}
#pro_list .products .main_pro .info span{font-size:0.51401rem ;line-height:1.877295rem;}
/*翻页部分*/
#pro_list .products .turn_page{width: 10.0rem;height:1.207729rem;margin-top: 1.5rem;}
#pro_list .products .turn_page p{margin-left:3.5rem;}
#pro_list .products .turn_page p a{display: inline-block;width: 1.73913rem ;height:0.772947rem;border-radius: 0.441546rem;border: 1px solid #dddddd;background: #FFFFFF;text-align: center;line-height:0.772947rem;color:#ababab;}
