@charset "utf-8";
*{padding: 0;margin: 0;}
body{font-size:0.289855rem;box-sizing: border-box;width: 10.0rem;background:#FFFFFF;overflow:hidden;}
/*顶部返回部分*/
#navs{height:0.966184rem ;width: 10.0rem;background: #000000;display: flex; color: #FFFFFF;align-items: center;justify-content: space-around;}
#navs #navs_left{width:1.207729rem ;height:0.966184rem;}
#navs img{width:0.772947rem ;height:0.966184rem;}
#navs .title{width: 7.584541rem;height:0.966184rem;line-height: 0.966184rem;font-size: 0.362319rem;text-align: center;}
#navs>.navs_right{width:1.207729rem ;height:0.966184rem;line-height: 0.966184rem;}
#navs>.navs_right a{ color:#FFFFFF;font-size: 0.362319rem;}

/*柚花*/
#tips{width:10.0rem;height:3.340097rem;background-image: url('http://mobile.uzise.com/assets/mob/images/member/score.png');text-align: center;}
#tips span{display: inline-block;width:1.932367rem ;height:1.932367rem ;border: 1px solid #b9b9b9;border-radius: 1.932367rem;font-size:0.652174rem ;text-align: center;line-height:1.932367rem;background: #FFFFFF;margin-top: 0.410628rem;}
#tips p{height: 0.793092rem;font-size:0.338164rem;line-height: 0.793092rem;}
/*柚子数量*/
#flo_num{width: 10.0rem;height:1.932367rem ;background: #ebebeb;display: flex;align-items: center;justify-content: space-around;}
#flo_num div{height:  1.207729rem;width:4.830918rem;text-align: center;font-size: 0.410628rem;}
#flo_num div:first-of-type{border-right: 1px solid #9c9c9c;}
#flo_num div p{height:0.724638rem ;line-height: 0.724638rem;}
#detial{height:0.966184rem ;line-height: 0.966184rem;font-size: 0.362319rem;color:#949494;padding-left: 0.483092rem;}
#num{height:1.570048rem ;background: #ebebeb;display: flex;align-items: center;justify-content: space-between;}
#num div p:first-of-type{font-size:0.410628rem;margin-left:0.483092rem ;height: 0.803865rem;line-height: 0.803865rem ;padding-top:0.169082rem ;}
#num div p:last-of-type{height:0.483092rem;color:#7d7d7d ;margin-left:0.483092rem;margin-top: 0.099082rem;}
#num>p{width: 2.415459rem;color: #d70c19;font-size: 0.362319rem;}
/*翻页部分*/
.turn_page{width: 10.0rem;height:1.207729rem;margin-top: 1.5rem;}
 .turn_page p{margin-left:3.5rem;}
.turn_page p a{display: inline-block;width: 1.73913rem ;height:0.772947rem;border-radius: 0.441546rem;border: 1px solid #dddddd;background: #FFFFFF;text-align: center;line-height:0.772947rem;color:#ababab;}
