html,body{
  width: 100%;
  height: 100%;
}
body{
  margin: 0;padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  /*background-color: #eee;*/
}
#box{
	height: 100%;
}

footer{
	display: block;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
}
footer div{
  flex:1;
}
/*头部一样的*/
.common-title{
	height:40px;
	background-color: #191919;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.go-back-home{
	width: 50px;
	height: 40px;
}
.go-back-home a{
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 15px;
}
.go-back-home a img{
	width: 32px;
	height: 32px;
	max-width: 100%;
	vertical-align: middle;	
	margin-top:2px;
}
.header-title{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 600;
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.classify-login{
	height: 40px;
	width: 50px;
}
.classify-login a{
	display: block;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
}
#his_foot{
	width: 10rem;height: 1.2077294685990339rem;display:flex; 	justify-content: space-around;align-items:center;
	background-color: #d70c19;position: fixed;left: 0;bottom: 0;
	
}
#his_foot a{
	width: 1.7391304347826086rem;height: 1.2077294685990339rem;text-align: center;font-size: 0.3140096618357488rem;margin-top: 0.2rem;
	color: #fff;line-height: 0.3rem;
}
#his_foot a p img{
	width: 0.6280193236714976rem;height: 0.6280193236714976rem;
}
#his_foot a:nth-of-type(3) img{
	width: 1.5492753623188406rem;height: 1.814975845410628rem;margin-top:-0.6rem ;
}


