@charset "utf-8";
*{padding: 0;margin: 0;}
body{font-size:0.289855rem;box-sizing: border-box;width: 10.0rem;background:#F9F9F9;overflow:hidden;}
/*顶部返回部分*/
#navs{height:0.966184rem ;width: 10.0rem;background: #000000;display: flex; color: #FFFFFF;align-items: center;justify-content: space-around;}
#navs #navs_left{width:1.207729rem ;height:0.966184rem;}
#navs img{width:0.772947rem ;height:0.966184rem;}
#navs .title{width: 7.584541rem;height:0.966184rem;line-height: 0.966184rem;font-size: 0.362319rem;text-align: center;}
#navs>.navs_right{width:1.207729rem ;height:0.966184rem;line-height: 0.966184rem;}
#navs>.navs_right a{ color:#FFFFFF;font-size: 0.362319rem;}

 #contant{margin:10px 20px 0 20px} 
 #contant textarea{margin: 0px; width:8.695652rem; height: 6.57004rem ;text-indent:0.483092rem ;letter-spacing: normal;word-spacing: normal;text-transform: none;resize: auto;
cursor: auto;white-space: pre-wrap;word-wrap: break-word;}
 #contant input{width: 8.695652rem;border: 1px solid #ddd;height: 0.845411rem;margin-top: 0.241546rem;text-indent: 0.483092rem ;}
 #submit{display: block;width: 8.695652rem ;height: 1.045411rem;background:red ;font-size: 0.434783rem;color: #FFFFFF;margin-top:0.483092rem;border-radius: 0.120773rem;text-align: center;line-height:1.045411rem ;}
