@charset "utf-8";
*{padding: 0;margin: 0;}
body{font-size:0.289855rem;box-sizing: border-box;width: 10.0rem;background:#f1f1f1;overflow:hidden;}
/*顶部返回部分*/
#navs{height:0.966184rem ;width: 10.0rem;background: #000000;display: flex; color: #FFFFFF;align-items: center;justify-content: space-around;}
#navs #navs_left{width:1.207729rem ;height:0.966184rem;}
#navs img{width:0.772947rem ;height:0.966184rem;}
#navs .title{width: 7.584541rem;height:0.966184rem;line-height: 0.966184rem;font-size: 0.362319rem;text-align: center;}
#navs>.navs_right{width:1.207729rem ;height:0.966184rem;line-height: 0.966184rem;}
#navs>.navs_right a{ color:#FFFFFF;font-size: 0.362319rem;}

/*兑换码部分*/

#charts{width:10.0rem;height:1.932367rem;background: #f5f5f5;display: flex;align-items: center;justify-content: center;}
#charts  #changes{width:4.661836rem ;height:0.724638rem  ;border-radius:0.386473rem;border: 1px solid #b9b9b9;padding: 0.386473rem;}
#charts #btn{width:1.690821rem ;height:0.724638rem ;background: #18b3eb;border:0;border-radius:0.286473rem;color: #FFFFFF;margin-left:0.186473rem ;}
/*现金券部分*/
 #uses{width: 10.0rem;height:1.062802rem ;border-bottom: 1px solid #8B8B8B;display: flex;justify-content: space-around;align-items: center;}
#uses p{width: 4.830918rem;text-align: center;}
