@charset "utf-8";
*{padding: 0;margin: 0;}
body{font-size:0.289855rem;box-sizing: border-box;width: 10.0rem;background:#efefef;overflow:hidden;}

/*头部*/
 #title{height:4.710145rem;width:10.0rem;background: url(http://mobile.uzise.com/assets/mob/images/profile.jpg);background-size:10.0rem 4.710145rem;}
#title dl{height:4.710145rem;width:4.057971rem;margin-left:3.057971rem ;text-align:center;}
#title dl img{height: 1.980676rem;width:1.980676rem;border-radius:1.980676rem;margin-top: 0.410628rem;}
#title dl dd{font-size:0.386473rem;color: #FFFFFF;width:4.057971rem;text-align: center;}
#title dl dd:nth-of-type(1){font-size:0.531401rem;height:0.724638rem;width:4.057971rem;}
#title dl dd:nth-of-type(2){height:0.724638rem;width:4.057971rem;}
#title dl dd:last-of-type{height:0.652174rem;width:4.057971rem;line-height:height:0.652174rem ;}
#title dl dd a{ display:inline-block;background: #000;color:#FFFFFF;padding:0 0.410628rem;border-radius:0.241546rem;margin-top:0.144928rem;height:0.652174rem;line-height: 0.652174rem;}
/*我的订单部分*/
#myList{width: 100%;height:1.352657rem;background: #FFFFFF;}
#myList a{display: flex;font-size:0.386473rem;align-items: center;}
#myList a div:first-of-type{margin: 0.410628rem 0.144928rem;}
#myList a div:nth-of-type(2){width:5.917874rem ;height:0.603865rem;}
#myList a img{width:0.507246rem ;height:0.507246rem;}
/*待评价部分*/

 #navs{width:10.0rem ;height: 1.932367rem;display: flex;margin-top: 0.048309rem;background: #FFFFFF;align-items: center;justify-content:space-around;}
 #navs div{width:2.463768rem;height:1.594203rem;border-right: 0.048309rem solid #d9d9d9;}
 #navs div:last-of-type{border:0;}
 #navs a{display:block;width:2.463768rem;height:1.594203rem;text-align: center}
 #navs a img{width:0.966184rem ;height:0.772947rem;}
 #navs a p{height:0.869565rem ;font-size: 0.386473rem;line-height: 0.869565rem;color:#8b8b8b;}
 
/*优惠券部分*/
#mine_server{height:8.21256rem;width:10.0rem;margin-top: 0.241546rem;margin-left: ;}
#mine_server a{display:flex;height:1.062802rem;width:10.0rem;margin-bottom:1px;background: #FFFFFF;padding-left: 0.362319rem;align-items: center;}
#mine_server a img{ display:block;width:0.507246rem ;height:0.507246rem;}
#mine_server a p{width:8.405797rem;margin-left:0.193237rem;font-size:0.362319rem;}
#mine_server a:nth-of-type(4){margin-bottom:0.241546rem ;}
